body{
  font-size: 16px;
  font-family: sans-serif;
}
input{
  margin: 9px;
  width: auto;
}
.subtitle{
  font-size: 22px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
  padding-left: 9px;
  padding-right:9px;
}
.myName{
  font-size: 9px;
}
.inputs, .results{
  width: 190px;
  margin: auto;
  padding: 22px;

}
.results{
  background-color: rgb(249, 245, 232);
  border: 1px solid gray;
}
.inputs{
  text-align: left;
  background-color:rgb(231, 221, 247);
  text-align: center;
  border: 1px solid gray;
  border-bottom: 0px;
  font-weight: bold;
}

.containerBox{
  text-align: center;
  background-color: rgb(244, 241, 245);
  width:auto;
  height: auto;
  padding: 18px;
}
.tipBox, .totalBox{
  text-transform: uppercase;
}
#tip-per-person, #total-per-person{
  padding: 9px;
  text-align: left;
  font-size: 36px;
  text-align: center;
  background-color: white;
  border-radius: 45px;
}
p{
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
h1, h3{
  text-align: center;
}
h1{
  background-color: rgb(244, 241, 245);
  padding: 9px;
  margin-top: 0px;
}
.myImage{
  width: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}
